<!-- Ce fichier servira de template pour afficher la liste des retours 
et affiche les détails de chaque retour.   -->

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Retours des apprenants</h1>
    <h2>Liste des retours</h2>
    <ul>
        {% if feedback %}
            {% for feedback in feedbacks %}
            <hr>
                <p>Bootcamp : {{ feedback[1] }}</p>
                <p>Type de retour : {{ feedback[2] }}</p>
                <p>Date : {{ feedback[3] }}</p>
                <p>Évaluation : {{ feedback[4] }}</p>
                <p>Commentaire : {{ feedback[5] }}</p>
            {% endfor %}
        {% else %}
            <p>Aucun retour trouvé.</p>
        {% endif %}
    </ul>
</body>
</html>